.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 15%;
  margin-left: 15%;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0px;
}

.col-3 {
  width: 25%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  background-color: #724949;
}

nav .navbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  nav .navbar {
    display: none;
  }
}

nav .navbar .logo {
  width: 212px;
  height: 25px;
}

nav .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: 202px;
}

@media screen and (max-width: 1400px) {
  nav .navbar ul {
    margin-left: 58px;
  }
}

@media screen and (max-width: 1200px) {
  nav .navbar ul {
    position: relative;
    top: 115px;
    left: -155px;
  }
}

nav .navbar ul li {
  padding-left: 58px;
  line-height: 115px;
}

@media screen and (max-width: 1400px) {
  nav .navbar ul li {
    margin-left: -8px;
  }
}

nav .navbar ul li a {
  color: #1b1b1b;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  height: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

nav .navbar ul li a span {
  line-height: 22px;
}

nav .navbar ul li a .underline {
  display: inline-block;
  position: relative;
}

nav .navbar ul li a .underline:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

nav .navbar ul li a .underline:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

nav .navbar ul .dropdown-content {
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 210px;
  margin: 0px -25px;
  padding: 10px 25px;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

nav .navbar ul .dropdown-content a {
  display: block;
  color: #737373;
  font-size: 13px;
  font-weight: 500;
  height: 19px;
  margin: 19px 0px;
  line-height: 19px;
  opacity: 1;
  text-transform: none;
}

nav .navbar ul .dropdown-content a span {
  letter-spacing: 0.1px;
}

nav .navbar ul .dropdown:hover .dropdown-content {
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  height: 300px;
  opacity: 1;
}

nav .navbar ul .dropdown-shopcontent {
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 210px;
  margin: 0px -665px;
  padding: 15px 25px;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

nav .navbar ul .dropdown-shopcontent a {
  display: block;
  color: #737373;
  font-size: 13px;
  font-weight: 500;
  height: 19px;
  margin: 17px 0px;
  line-height: 19px;
}

nav .navbar ul .dropdown:hover .dropdown-shopcontent {
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  opacity: 1;
  height: 365px;
  width: 1290px;
}

nav .navbar .search {
  position: relative;
  display: block;
  width: 93px;
}

@media screen and (max-width: 1200px) {
  nav .navbar .search {
    position: relative;
    top: 115px;
    left: -155px;
  }
}

nav .navbar .search i {
  color: #1b1b1b;
  text-decoration: none;
  margin-left: 45px;
}

@media screen and (max-width: 1200px) {
  nav .navbar .search i {
    position: relative;
    top: -115px;
    left: 155px;
  }
}

nav .navbar a {
  color: #1b1b1b;
  text-decoration: none;
}

nav .navbar a .cart {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 4px;
  left: -26px;
  height: 22px;
}

@media screen and (max-width: 1200px) {
  nav .navbar a .cart {
    position: relative;
    top: 115px;
    left: -177px;
  }
}

nav .navbar a .cart i {
  margin-right: 10px;
}

nav .navbar a .cart span {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 22px;
  letter-spacing: 1.2px;
  line-height: 22px;
}

nav .navbar a .badge:after {
  content: attr(value);
  font-size: 9px;
  color: #fff;
  background: red;
  border-radius: 50%;
  padding: 0 5px;
  position: relative;
  left: -6px;
  top: -5px;
  opacity: 0.9;
}

.responsivenavbar {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 69px;
}

@media screen and (max-width: 1025px) {
  .responsivenavbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.responsivenavbar .logo {
  position: relative;
  width: 212px;
  height: 25px;
  left: 40px;
}

.responsivenavbar .menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: black;
  text-decoration: none;
}

.responsivenavbar .menuItem:hover {
  text-decoration: underline;
}

.responsivenavbar .hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.responsivenavbar .closeIcon {
  display: none;
}

.responsivenavbar .menu {
  position: fixed;
  width: 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: white;
  color: black;
  list-style: none;
  padding-top: 4rem;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.responsivenavbar .showMenu {
  width: 420px;
}

.slider {
  background-color: black;
  height: 615px;
}

#filter {
  height: 1167px;
}

#filter .filter ul {
  position: relative;
  top: 73px;
  left: -32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#filter .filter ul li {
  padding-left: 32px;
}

#filter .filter ul li a {
  color: #1b1b1b;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  height: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

#filter .filter .options li span {
  color: #1b1b1b;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  height: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  cursor: pointer;
}

#filter .filter .cards {
  position: relative;
  top: 104px;
}

#filter .filter .cards .card {
  position: relative;
  height: 444.6px;
  min-width: 267px;
  width: 295px;
  overflow: hidden;
  text-align: center;
  margin-right: 20px;
}

#filter .filter .cards .card img {
  width: 100%;
}

#filter .filter .cards .card h2 {
  color: #1b1b1b;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  height: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

#filter .filter .cards .card a {
  color: #1b1b1b;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  height: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

#filter .filter .cards .card span {
  color: #1b1b1b;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  height: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #afafaf;
}
