#filter {
  height: 1167px;
  .filter {
    ul {
      position: relative;
      top: 73px;
      left: -32px;
      display: flex;
      list-style: none;
      li {
        padding-left: 32px;
        a {
          @include text;
        }
      }
    }
    .options {
      li {
        span {
          @include text;
          cursor: pointer;
        }
      }
    }
    .cards {
      position: relative;
      top: 104px;
      .card {
        position: relative;
        height: 444.6px;
        min-width: 267px;
        width: 295px;
        overflow: hidden;
        text-align: center;
        margin-right: 20px;
        img {
          width: 100%;
        }
        h2 {
          @include text;
        }
        a {
          @include text;
        }
        span {
          @include text;
          color: $text-color-second;
        }
      }
    }
  }
}
