* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 0px 15.75%;
  @media screen and (max-width: 1200px) {
    padding: 0px 57.3%;
  }

  .navbar {
    @media screen and (max-width: 1025px) {
      display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .logo {
      width: 212px;
      height: 25px;
    }
    ul {
      display: flex;
      list-style: none;
      margin-left: 202px;
      @media screen and (max-width: 1400px) {
        margin-left: 58px;
      }
      @media screen and (max-width: 1200px) {
        position: relative;
        top: 115px;
        left: -155px;
      }

      li {
        padding-left: 58px;
        @media screen and (max-width: 1400px) {
          margin-left: -8px;
        }
        a {
          color: rgb(27, 27, 27);
          text-decoration: none;
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          font-weight: 500;
          height: 22px;
          letter-spacing: 1.2px;
          line-height: 115px;
          span {
            line-height: 22px;
          }
          .underline {
            display: inline-block;
            position: relative;
            &:after {
              content: "";
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 1px;
              bottom: 0;
              left: 0;
              background-color: currentColor;
              transform-origin: bottom left;
              transition: transform 0.2s;
            }
            &:hover:after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }
      }
      .dropdown {
        &-content {
          position: absolute;
          background-color: rgb(255, 255, 255);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          z-index: 1;
          width: 210px;
          margin: 0px -25px;
          padding: 10px 25px;
          height: 0;
          overflow: hidden;
          opacity: 0;
          a {
            display: block;
            color: rgb(115, 115, 115);
            font-size: 13px;
            font-weight: 500;
            height: 19px;
            margin: 19px 0px;
            line-height: 19px;
            opacity: 1;
            span {
              letter-spacing: 0.1px;
            }
          }
        }
        &:hover {
          .dropdown-content {
            transition: linear 0.3s;
            height: 300px;
            opacity: 1;
          }
        }

        &-shopcontent {
          position: absolute;
          background-color: rgb(255, 255, 255);
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          z-index: 1;
          width: 210px;
          margin: 0px -665px;
          padding: 15px 25px;
          height: 0;
          overflow: hidden;
          opacity: 0;
          a {
            display: block;
            color: rgb(115, 115, 115);
            font-size: 13px;
            font-weight: 500;
            height: 19px;
            margin: 17px 0px;
            line-height: 19px;
          }
        }
        &:hover {
          .dropdown-shopcontent {
            transition: linear 0.3s;
            opacity: 1;
            height: 365px;
            width: 1290px;
          }
        }
      }
    }
    .search {
      position: relative;
      display: block;
      width: 93px;
      @media screen and (max-width: 1200px) {
        position: relative;
        top: 115px;
        left: -155px;
      }
      i {
        @media screen and (max-width: 1200px) {
          position: relative;
          top: -115px;
          left: 155px;
        }

        color: rgb(27, 27, 27);
        text-decoration: none;
        margin-left: 45px;
      }
    }

    a {
      color: rgb(27, 27, 27);
      text-decoration: none;
      .cart {
        @media screen and (max-width: 1200px) {
          position: relative;
          top: 115px;
          left: -177px;
        }
        padding-left: 20px;
        display: flex;
        position: relative;
        gap: 4px;
        left: -26px;
        height: 22px;
        i {
          margin-right: 10px;
        }
        span {
          font-family: "Montserrat", sans-serif;
          font-size: 12px;
          font-weight: 500;
          height: 22px;
          letter-spacing: 1.2px;
          line-height: 22px;
        }
      }
      .badge:after {
        content: attr(value);
        font-size: 9px;
        color: #fff;
        background: red;
        border-radius: 50%;
        padding: 0 5px;
        position: relative;
        left: -6px;
        top: -5px;
        opacity: 0.9;
      }
    }
  }
}

.responsivenavbar {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 69px;
  @media screen and (max-width: 1025px) {
    display: flex;
  }
  .logo {
    position: relative;
    width: 212px;
    height: 25px;
    left: 40px;
  }
  .menuItem {
    display: block;
    margin: 2rem 4rem;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .menuItem:hover {
    text-decoration: underline;
  }

  .hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
  }

  .closeIcon {
    display: none;
  }

  .menu {
    position: fixed;
    width: 0px;
    transition: 0.2s;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    list-style: none;
    padding-top: 4rem;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  }

  .showMenu {
    width: 420px;
  }
}
